<body>
 <div class="container body-content">
        <br>

        <br>
        <div class="container">



            <h2>Our History</h2>

            <p style="text-align: justify;">With the hope and active participation from Mr Bashir Ahmed Bhuiyan, Founder and Principal of JGGHS along with the Institute’s Chairperson, Mr Khaled Chowdhury walked together with the idea of creating Trust College in the year 2005 as a cottage. But over the years, after mass response from guardians, students, participators and all prospective enterprises, we emerged as today’s Trust College in Uttara Model Town, one of the most lucrative locations of the Dhaka Metropolitan City.</p>
            <p style="text-align: justify;">At JGGHS , we provide a quality education, affiliated with the Board of Intermediate &amp; Secondary Education, Dhaka under Ministry of Education of Government of the People’s Republic of Bangladesh. Therefore, our skilled education program is directed under the National Curriculum with the medium of instruction in both Bengali and English. Here, we only promote academic learning, but we endorse the physical, spiritual and social development of each student; we do this through a stimulating environment on the board and balanced curriculum and:</p>
            <ul style="text-align: justify;">
                <li>encouraging compassion, care and respect through our shared faith and belief in the moral and mutual values.</li>
                <li>developing the pupil’s individual talents</li>
                <li>encouraging the pupils to do their best</li>
                <li>promoting family involvement in our Institute</li>
                <li>valuing each child’s individuality</li>
            </ul>
            <p style="text-align: justify;">We dream big, but we are careful to walk in little steps so that we abide by our sole policies, regulations and standards, in creating Trust College a “Center of Excellence.” We have seen our ups and downs, but never back-stepped from stepping ahead. Therefore, to promote our singular aim of modern education, we have opened the Trust College- School Section offers education from Preschool to Secondary School Certificate (SSC) level.</p>
            <p style="text-align: justify;">From the beginning of JGGHS , our  Secondary School Certificate (SSC) level students have given their best with their core talents enhanced by our sole efforts, assembled a legacy of 100% pass rate along with a mass number of A+ Grades. Here, In effect, we proudly present our first batch of students who have all succeeded in their SSC Examination 2015, letting us hold our old legacy.</p>
</div>
        <br>
        <div class="container">



            <h2>Mission &amp; Vision</h2>

            <p style="text-align: justify;"><em><strong>Our Mission Statement: </strong></em></p>
            <p style="text-align: justify;"><strong>“<span style="text-decoration: underline;">Seek Knowledge</span>”</strong></p>
            <p style="text-align: justify;">At JGGHS , every student’s potential is achieved through the journey of seeking knowledge. We assist to decrease barriers to academic achievement through student advocacy and to promote student success through a focus on academic achievement, social/personal, career and global citizenship development. The parents, students, faculty and support staff at Trust College are committed to the pursuit of excellence in all curricular endeavors as well as the cultivation of individual student abilities in a safe, healthy and supportive environment.</p>
            <p style="text-align: justify;"><strong><em>Our Vision Statement:</em></strong></p>
            <p style="text-align: justify;">Our vision is for all students to depart empowered with the knowledge and skills necessary to achieve academic, personal/social and career success reaching their fullest potential as respectful, responsible individual. We shall be a leading education provider in the integration of:</p>
            <p style="text-align: justify;">(a) teaching and learning</p>
            <p style="text-align: justify;">(b) advancement of the knowledge base through leadership and outreach</p>
            <p style="text-align: justify;">Therefore, we want to build upon a heritage and excellent reputation and to position to enhance our leadership role in academic program planning and public policy formulation. So that, our enterprise can unit in collaboration with other public/private universities/agencies, assist in the readiness of all learners to succeed in a rapidly changing, diverse, and highly technical era. In order to achieve this vision, we at Trust College are committed to:</p>
            <ul style="text-align: justify;">
                <li>ensure the mastery of appropriate content and intellectual skills of our core curriculum in Science, Business Studies and Humanities Group</li>
                <li>reflect upon and refine best practices in professional and pedagogical knowledge</li>
                <li>utilizing appropriate technologies which reflect best practices in modern education</li>
                <li>provide leadership in professional education</li>
            </ul>
            <p style="text-align: justify;">Therefore, JGGHS  shall be an Educational Institute of opportunity for a diverse learning community, offering leading-edge and dynamic education for life.</p>







        </div>
        <hr>
        
    </div>


    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>






</body>