
<br />
<address>
  
    Joydebpur,Gazipur, Dhaka-1230<br />
    <p>Phone</p>
    <p>01754826252</p>
</address>

<address>
    <strong>Website:</strong> <a href="jggs@example.com">www.jggs.edu.bd</a><br />
    <strong>Email:</strong> <a href="mailto:jggs@example.com">info@jggs.edu.bd</a>
</address>
