
<body>


    <!--[NOTE: FOR DESKTOP]-->
    <!--[NOTE: FOR TAB]-->
    <div class="container-fluid visible-sm " style="padding:0">

        <div class="container-fluid top_bar  navbar-fixed-top">
            <div class="container">
                <div class="raw">

                    <div class="col-sm-12 text-center contact_info">
                        <span class="glyphicon glyphicon-earphone"></span><a href="#" style="text-decoration:none;color:white;"> Contact us: +8801833455558</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm-3 text-center">
                    <a href="/">
                        <img src="~/images/download.jpg" alt="logo" width="100" height="100">
                    </a>
                </div>

                <div class="col-sm-5">
                    <h1 class="text-center">
                      
                    </h1>

                </div>

            </div>
        </div>

        <!--[NOTE:Navsction Start ]  -->
        <div class="container-fluid abc ">
            <div class="container">


                <div class="navbar-header- navbar-default">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse nav_my">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About us <span class="caret"></span></a>
                            <ul class="dropdown-menu tab-submenu">
                                <li><a href="/Home/History">History</a></li>
                                <li><a href="/Home/Chairman">Message from Chairman</a></li>
                                <li><a href="/Home/Principal">Message from Principal</a></li>
                                <li><a href="/Home/Achievements">Achievements</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Faculty">Faculty List</a></li>
                        <li><a href="/Home/Contact">Contact Us</a></li>
                        <li><a href="/Home/Login">Login</a></li>

                    </ul>
                </div>
            </div>
        </div>



    </div>

    <!--[NOTE: FOR MOBILE]-->
    <div class="container-fluid visible-xs" style="padding:0">
        <div class="container-fluid top_bar  navbar-fixed-top">
            <div class="container">
                <div class="raw">

                    <div class="col-sm-12 text-center contact_info">
                        <span class="glyphicon glyphicon-earphone"></span><a href="#" style="text-decoration:none;color:white;"> Contact us: +8801833455558</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm-3 text-center">
                    <a href="/">
                        <img src="~/images/download.jpg" alt="logo" width="100" height="100">
                    </a>
                </div>

                <div class="col-sm-5">
                    <h1 class="text-center">
                        Demo College
                    </h1>

                </div>

            </div>
        </div>

        <!--[NOTE:Navsction Start ]  -->
        <div class="container-fluid abc ">
            <div class="container">


                <div class="navbar-header- navbar-default">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse nav_my">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About us <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/History">History</a></li>
                                <li><a href="/Home/Chairman">Message from Chairman</a></li>
                                <li><a href="/Home/Principal">Message from Principal</a></li>
                                <li><a href="/Home/Achievements">Achievements</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Faculty">Faculty List</a></li>
                        <li><a href="/Home/Contact">Contact Us</a></li>
                        <li><a href="/Home/Login">Login</a></li>

                    </ul>
                </div>
            </div>
        </div>



    </div>








    <div class="container">

        <!--[NOTE: FOR DESKTOP]-->
        <div class="container-fluid hidden-xs hidden-sm " style="padding:0">
            <div class="container">
                <h1 class="page-title">Faculty Member</h1>
                <div class="col-sm-12 ">
                    <div class="panel-body">
                        <div class="top-buffer"></div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>SL.</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Contact</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td>1</td>
                                    <td>
                                        <img src="~/images/download.jpg" width="120" height="120">
                                    </td>
                                    <td>
                                        <h4>Jotirmoy Malakar</h4>

                                        <p>Msc from Jahangirnagar University(2015)</p>

                                        <p>Professor</p>
                                    </td>
                                    <td>Bangla</td>
                                    <td>

                                        <p>Gazipur,Dhaka-1230</p>
                                        <p>Phone: +8801700-000000</p>
                                        <p>Email: JGGHS.mail@gmail.com</p>
                                    </td>
                                </tr>
                                <tr>

                                    <td>2</td>
                                    <td>
                                        <img src="~/images/Ritu_Jaiswal.jpg" width="120" height="120">
                                    </td>
                                    <td>
                                        <h4>Dipti Kormokar</h4>

                                        <p>Bsc in Chittagong University(2009)</p>

                                        <p>Assistant Professor</p>
                                    </td>
                                    <td>English</td>
                                    <td>

                                        <p>
                                            Uttara-10, Road-22,

                                            Dhaka-1240
                                        </p>
                                        <p>Phone: +88017123-34567</p>
                                        <p>Email: JGGHS.mail@gmail.com</p>
                                    </td>
                                </tr>
                                <tr>

                                    <td>3</td>
                                    <td>
                                        <img src="~/images/Dr.-Md.-Naimul-Haque.jpg" width="120" height="120">
                                    </td>
                                    <td>
                                        <h4>Khalilur Rahman</h4>

                                        <p>Msc from DU(2014)</p>

                                        <p>Lecturer</p>
                                    </td>
                                    <td>Physics</td>
                                    <td>

                                        <p>
                                            Gazipur

                                            Dhaka-1213
                                        </p>
                                        <p>Phone: +88017456-566788</p>
                                        <p>Email: JGGHS.mail@gmail.com</p>
                                    </td>
                                </tr>
                                <tr>

                                    <td>4</td>
                                    <td>
                                        <img src="~/images/download (1).jpg" width="120" height="120">
                                    </td>
                                    <td>
                                        <h4>Ayesha Akter  Ritu</h4>

                                        <p>Msc from CU(2014)</p>

                                        <p>Lecturer</p>
                                    </td>
                                    <td>Mathmatics</td>
                                    <td>

                                        <p>SavarDhaka-1234</p>
                                        <p>Phone: +8801711-111111</p>
                                        <p>Email: demo.mail@gmail.com</p>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

        <!--[NOTE: FOR PAD OR MOBILE]-->
        <div class="container-fluid visible-xs visible-sm " style="padding:0">
            <div class="mobile">

                <h1 class="page-title">Faculty Member</h1>
                <div class="col-sm-6 col-xs-12">
                    <img src="~/images/download.jpg">
                    <h2><b>Jotirmoy Malakar</b></h2>
                    <p>
                        <span><b>Professor</b></span><br>
                        <span> Msc from Jahangirnagar University(2015)</span>
                    </p>
                    <p>
                        <span><b> Email:  JGGHS.mail@gmail.com</b></span><br>
                        <span><b> Phone:  +8801700-000000</b></span>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <img src="~/images/Ritu_Jaiswal.jpg">
                    <h2><b>Fariha jahan  Shanta</b></h2>
                    <p>
                        <span><b>Assistant Professor</b></span><br>
                        <span> Bsc in DU(2009)</span>
                    </p>
                    <p>
                        <span><b> Email:  demo.mail@gmail.com</b></span><br>
                        <span><b> Phone:  +88017123-34567</b></span>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <img src="/ClientDictionary/Employees/ip300x200/21.jpg">
                    <h2><b>Naimul  Islam</b></h2>
                    <p>
                        <span><b>Lecturer</b></span><br>
                        <span> Msc from JU(2014)</span>
                    </p>
                    <p>
                        <span><b> Email:  demo.mail@gmail.com</b></span><br>
                        <span><b> Phone:  +88017456-566788</b></span>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <img src="/ClientDictionary/Employees/ip300x200/25.jpg">
                    <h2><b>Ayesha Akter  Ritu</b></h2>
                    <p>
                        <span><b>Lecturer</b></span><br>
                        <span> Msc from CU(2014)</span>
                    </p>
                    <p>
                        <span><b> Email:  demo.mail@gmail.com</b></span><br>
                        <span><b> Phone:  +8801711-111111</b></span>
                    </p>
                </div>

            </div>
        </div>


    </div>



    <!--[NOTE: FOR DESKTOP]-->
    <!--[NOTE: FOR TAB OR MOBILE]-->
    <div class="container-fluid visible-xs visible-sm " style="padding:0">
        <div class="footer">
            <div class="row">
                <div class="col-sm-3" style="text-align: left; padding-bottom: 8px;padding-top: 12px;">
                    <div class="title">
                        Contact us
                    </div>

                    <div class="body note">

                        <ul>
                            <li style="list-style-type: none; padding: 0;"><span class="glyphicon glyphicon-earphone"></span> +8801833455558</li>
                            <li style="list-style-type: none; padding: 0;"><span class="glyphicon glyphicon-earphone"></span> +8001833455557 </li>
                            <li style="list-style-type: none; padding: 0;"><span class="glyphicon glyphicon-envelope"></span> info@demo.bd</li>
                            <li style="list-style-type: none; padding: 0;"><span class="glyphicon glyphicon-envelope"></span> info@demo.net</li>
                            <li style="list-style-type: none; padding: 0;">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Road 5, Middle Nandipara, PO-Bashaboo,
                                PS-Khilgoan, Dhaka-1214, Bangladesh
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3" style="padding-bottom: 20px;padding-top: 20px;">
                    <div class="title">
                        Recent Notice
                    </div>
                    <div class="body note">
                        <ul>
                            <li><a href="#">Expanding frontiers in space exploration</a></li>
                            <li><a href="#">Statistics: Why the Truth Matters</a></li>
                            <li><a href="#">LiveFridays at the Ashmolean: LinguaMania</a></li>
                            <li><a href="#">Drawing in Red</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3" style="padding-bottom: 20px;padding-top: 20px;">
                    <div class="title">
                        Resource Link
                    </div>
                    <div class="body note">
                        <ul>
                            <li><a href="http://www.nctb.gov.bd/" target="_blank">National Curriculum &amp; Textbook Board</a></li>
                            <li><a href="http://www.naem.gov.bd/" target="_blank">National Academy for Educational Management</a></li>
                            <li><a href="http://mof.gov.bd/en/" target="_blank">Ministry of Finance</a></li>
                            <li><a href="http://www.forms.gov.bd/" target="_blank">Government Forms</a></li>
                            <li><a href="http://www.du.ac.bd/" target="_blank">University of Dhaka</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3" style="padding-bottom: 20px;padding-top: 20px;  ">


                </div>

            </div>
        </div>

        <!-- [NOTE:Footer-bottom]-->
        <div class="footer-bottom">
            <footer id="footer" class="fusion-footer-copyright-area">
                <div class="fusion-row">
                    <div class="copyright">
                        <a class="copyright" href="https://www.facebook.com/OurEdu.co/" target="_blank" style=" text-decoration: underline;">OurEdu</a>
                        | Version 0.0.10
                        | Sponsored by <a class="copyright" href="http://iubat.edu/web1/" target="_blank" style=" text-decoration: underline;">IUBAT</a>
                    </div>
                </div>
            </footer>
        </div>

    </div>








    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" crossorigin="anonymous" integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script>(window.jQuery || document.write("\u003Cscript src=\u0022\/lib\/jquery\/dist\/jquery.min.js\u0022 crossorigin=\u0022anonymous\u0022 integrity=\u0022sha384-K\u002BctZQ\u002BLL8q6tP7I94W\u002BqzQsfRV2a\u002BAfHIi9k8z8l9ggpc8X\u002BYtst4yBo\/hH\u002B8Fk\u0022\u003E\u003C\/script\u003E"));</script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script>(window.jQuery && window.jQuery.fn && window.jQuery.fn.modal || document.write("\u003Cscript src=\u0022\/lib\/bootstrap\/dist\/js\/bootstrap.min.js\u0022 crossorigin=\u0022anonymous\u0022 integrity=\u0022sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\u0022\u003E\u003C\/script\u003E"));</script>
    <script src="/js/site.min.js?v=47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU"></script>



    <script>

        $(document).ready(function () {
            //[NOTE-BEGIN: Desktop menu bar will be fixed at the top screen]
            var stickyNavTop = $('.nav1').offset().top;
            var stickyNav = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > stickyNavTop) {
                    $('.nav1').addClass('sticky');
                } else {
                    $('.nav1').removeClass('sticky');
                }
            };
            stickyNav();
            $(window).scroll(function () {
                stickyNav();
            });
            //[NOTE-END: Desktop menu bar will be fixed at the top screen]

            //[NOTE-BEGIN: Desktop submenu hover]
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.desktop-submenu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.desktop-submenu').stop(true, true).delay(200).fadeOut(500);
            });
            //[NOTE-END: Desktop submenu hover]

            //[NOTE-BEGIN: Tab submenu hover]
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.tab-submenu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.tab-submenu').stop(true, true).delay(200).fadeOut(500);
            });
            //[NOTE-END: Tab submenu hover]
        });

    </script>





</body>
