
<img src="~/images/1436174201_t2.jpg" style="width:100%;height:50%;">
<center>
    <div class="col-md-8" style="padding-left:0px; padding-right: 8px;">

        <h3>Welcome Message</h3>
        <p class="text-justify"></p><p style="text-align: justify">Perceive education in all aspects of student life re-creating oneself at JGGHS for a healthy and dynamic career.</p>
        <p style="text-align: justify">JGGHS, founded in 2005, born out of a vision Mr Bashir Ahmed Bhuiyan, Founder and Principal of JGGHS long ago foresaw during his prolonged teaching career. With his singular pursuit to circulate the aroma of quality and calibrated education, his Trust College commenced in the year 2009 through its 1st batch of Higher Secondary Certificate (HSC) students. Trust College is now a collaborative venture of students-teachers-guardians, together proceeding with a prototype education method creating a network of social and religious values, systems and coordination.</p>
        <p style="text-align: justify">JGGHS is being endued to serve teens, prepare themselves to be a competitive and a constructive enterprise for the current global work force and also assist them develop leadership characters to abide them with virtues of moral integrity. Trust College’s Board of Executive Members hand in hand with the distinguished Faculty progress this vision and is constantly developing the idea, building its students to adapt education in vogue and adhere themselves with meaningful lives. To further cohere with it, Trust College, School Section has recently been inaugurated availing education to all students from toddlers to teens.</p>
        <p style="text-align: justify">We are, therefore, located at our registered address at Joydebpur,Gazipur, Dhaka 1230; following the National Curriculum from Preschool to SSC Level in both Bengali and English Versions under the Board of Intermediate &amp; Secondary Education, Dhaka. We facilitate the study of a wide range of subjects in Science, Business Studies&nbsp;and Humanities as well as give exposure to inter/national competitions, sports, cultural activities, computers and many more.</p>
        <p style="text-align: justify">This website is sure to be a resource for guardians/parents and any prospective viewers eager to know and understand , however you are welcome to visit our Campus or contact us by telephone, cell phone, fax or email. Please review the <a href="http://www.trustcollege.edu.bd/?p=132">Contact Us</a> page for details.</p><p></p>
        <p style="text-align: justify">This website is sure to be a resource for guardians/parents and any prospective viewers eager to know and understand JGGHS, however you are welcome to visit our Campus or contact us by telephone, cell phone, fax or email. Please review the <a href="http://www.trustcollege.edu.bd/?p=132">Contact Us</a> page for details.</p><p></p>

    </div>
</center>